@import url('/.proxy/google-fonts/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
	/* Theme colors */
	--color-primary: #3066be;
	--color-primary-light: #66c7f4;
	--color-secondary: #d62246;
	--color-tertiary: #c13ce2;
	--color-light: #f5f5f5;
	--color-gray: #c1cad6;
	--color-dark: #0a100d;

	--font-noto-sans: "Noto Sans", sans-serif;
}
